{% extends "default" %}

{% block content_wrapper %}

<section id="projects">
    <article id="project-lan-management-system" class="blog_module module">
        <header>
            <img src="/assets/img/network.svg" width="128px" height="128px"/>
            <h2><a href="/lan-management-system/">Lan Management System</a></h2>
            <p>System do zarządzania sieciami LAN - rozwój i wdrożenia.</p>
        </header>

        <p>
            Od wielu lat uczestniczę w rozwoju LMS - programuję, testuję, piszę teksty, wdrażam i sprzedaję rozwiązania.
            W tym dziale znajdziesz informacje nt. systemu, napisanych przeze mnie pluginach i innych dodatkach do LMS.
        </p>
    </article>

    <article id="project-drug-dose" class="blog_module module">
        <header>
            <img src="/assets/img/erlenmeyer-flask.svg" width="128px" height="128px"/>
            <h2><a href="/drug-dose/">Drug Dose Server & Mobile App Framework</a></h2>
            <p>System klient-serwer służący jako pomoc przy obliczaniu dawek leków.</p>
        </header>

        <p>
            Projekt utworzony na potrzeby konkursu <em>"Daj się poznać"</em>.
            Szkielet aplikacji mobilnej oraz serwera dawek leków.
        </p>
    </article>
</section>

{% endblock %}
