$width1: 1070px;

$color1: #C19A6B;
$color2: #6F4E37;

$font-family: 'Open Sans', sans-serif;
$font-size: 16px;
$heading-font-family: 'Open Sans', sans-serif;
$heading-font-weight: 900;
$fixed-font-family: 'Courier New', Courier, monospace;
$fixed-line-height: 1.25;
$fixed-font-size: $font-size - 2px;
