<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="robots" content="index,follow"/> 
    <meta name="revisit-after" content="1 days"/>        
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="description" content="{{ page.description }}"/>
    <meta name="keywords" content="{{ page.keywords }}"/>
    <meta name="author" content="Maciej Lew"/>
    <link rel="stylesheet" href="/assets/css/base.css" type='text/css'>
    <link href="{{ site.url }}/blog/feed.xml" type="application/atom+xml" rel="alternate" title="LionNet blog posts (atom)" />
</head>
<body>

    <nav id="topnav">
        <div>
            <img src="/img/lion.net.pl.svg" width="64px" height="64px">
            <ul>
                <li>
                    <a href="/" rel="index author">O mnie</a>
                </li>
                <li>
                    <a href="/umiejetnosci/" rel="author">Umiejętności</a>
                </li>
                <li>
                    <a href="/blog/">Blog informatyczny</a>
                </li>
                <li>
                    <a href="/mapa/">Mapa strony</a>
                </li>
            </ul>
        </div>
    </nav>

    <section id="content">

        <section id="headline">
            <header>
                <h1>{{ site.description }}</h1>
            </header>
        </section>

        <section id="body">

            <div>{% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}</div>

        </section>

    </section>

    {% if page.math %}<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>{% endif %}
</body>
</html>
