<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="robots" content="index,follow"/> 
    <meta name="revisit-after" content="1 days"/>        
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="description" content="{{ page.description }}"/>
    <meta name="keywords" content="{{ page.keywords }}"/>
    <meta name="author" content="Maciej Lew"/>
    <link rel="stylesheet" href="/css/main.css" type='text/css'>
    <link href="{{ site.url }}/blog/feed.xml" type="application/atom+xml" rel="alternate" title="LionNet blog posts (atom)" />
</head>
<body>
    <header>
        <div id="name_module" class="module">
            <h1>
                <a href="/" rel="index">{{ site.name }}</a>
            </h1>
        </div>
        
        <nav id="navigation_module" class="module">
            <h2 class="hidden">Nawigacja</h2>
            <ul>
                <li>
                    <a href="/" rel="index author">O mnie</a>
                </li>
                <li>
                    <a href="/umiejetnosci/" rel="author">Umiejętności</a>
                </li>
                <li>
                    <a href="/lan-management-system/">Lan Managment System</a>
                </li>
                <li>
                    <a href="/blog/">Blog informatyczny</a>
                </li>
                <li>
                    <a href="/mapa/">Mapa strony</a>
                </li>
            </ul>
        </nav>

        <div id="description_module" class="module">
            {{ site.description }}
        </div>
        
        
    </header>
    
    <main>
        {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}

    </main>
    
    {% if page.math %}<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>{% endif %}
</body>
</html>
