<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="robots" content="index,follow"/> 
    <meta name="revisit-after" content="1 days"/>        
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="description" content="{{ page.description }}"/>
    <meta name="keywords" content="{{ page.keywords }}"/>
    <meta name="author" content="Maciej Lew"/>
    <link rel="stylesheet" href="/assets/css/base.css" type='text/css'>
    <link href="{{ site.url }}/blog/feed.xml" type="application/atom+xml" rel="alternate" title="LionNet blog posts (atom)" />

    {% set site_modified = site.date %}
    {% set posts = page.pagination.items %}
    {% if posts %}
        {% set break = false %}
        {% for post in posts if not break %}
            {% if post.date %}
                {% set site_modified = post.date | date("Y-m-d") %}
                {% set break = true %}
            {% endif %}
        {% endfor %}
    {% endif %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            {% if site.name %}"name": "{{ site.name }}",{% endif %}
            {% if site.description %}"description": "{{ site.description }}",{% endif %}
            {% if site.url %}"url": "{{ site.url }}",{% endif %}
            {% if site.author %}"author": 
                {
                    "@type": "Person",
                    "name": "{{ site.author }}"
                },{% endif %}
            {% if site.date %}"dateCreated": "{{ site.date }}",{% endif %}
            "dateModified": "{{ site_modified }}"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "{% if page.type %}{{ page.type }}{% elseif page.is_post %}BlogPosting{% else %}WebPage{% endif %}",
            {% if page.title %}"name": "{{ page.title }}",{% endif %}
            {% if page.description %}"description": "{{ page.description }}",{% endif %}
            {% if page.author or site.author %}"author": 
                {
                    "@type": "Person",
                    "name": "{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}"
                },{% endif %}
            {% if page.date %}"dateCreated": "{{ page.date | date('Y-m-d') }}",{% endif %}
            {% if page.breadcrumbs %}"breadcrumb":
                {
                    "@type": "BreadcrumbList",
                    "itemListElement": [{% for breadcrumb in page.breadcrumbs %}
                        {
                            "@type": "ListItem",
                            "position": {{ forloop.index }},
                            "item": {
                                "@type": "{% if breadcrumb.type %}{{ breadcrumb.type }}{% else %}WebPage{% endif %}",
                                "@id": "{{ site.url }}{% if breadcrumb.url == 'page.url' %}{{ page.url }}{% else %}{{ breadcrumb.url }}{% endif %}",
                                "name": "{% if breadcrumb.title == 'page.title' %}{{ page.title }}{% else %}{{ breadcrumb.title }}{% endif %}"
                            }
                        }{% if not forloop.last %},{% endif %}
                    {% endfor %}]
                },{% endif %}
            "url": "{{ site.url }}{{ page.url }}"
        }
    </script>
    {% if page.reviews %}
    {% for r in page.reviews %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Review",
            "itemReviewed":
            {
                "@type": "{{ r.type }}",
                "name": "{{ r.name }}",
                {% if r.type == 'Book' %}"isbn": "{{ r.isbn }}",
                "author": 
                {
                    "@type": "Person",
                    "name": "{{ r.author }}",
                    "sameAs": "{{ r.author_url }}"
                },{% endif %}
                "url": "{{ r.url }}"
            },
            "reviewBody": "{{ r.content }}",
            "reviewRating":
            {
                "@type": "Rating",
                "ratingValue": "{{ r.rating }}"
            },
            {% if page.author or site.author %}"author": 
            {
                "@type": "Person",
                "name": "{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}",
                "sameAs": "{{ site.url }}"
            },{% endif %}
            {% if page.date %}"datePublished": "{{ page.date|date('Y-m-d') }}",{% endif %}
            {% if site.name %}"publisher": "{{ site.name }}",{% endif %}
            "description": "{{ r.description }}",
            "url": "{{ site.url }}{{ page.url }}"
        }
    </script>
    {% endfor %}
    {% endif %}

    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//interpc.pl/~mlewinterpc/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>

</head>
<body>

    <nav id="topnav">
        <div>
            <a href="/" rel="start index author">
                <img src="/assets/img/lion.net.pl.svg" width="64px" height="64px">
            </a>
            <ul>
                <li>
                    <a href="/" rel="start index author">LionNet</a>
                </li>
                <ul>
                    <li><a href="/lan-management-system/" rel="contents section">Lan Management System</a></li>
                </ul>
                <ul>
                    <li><a href="/drug-dose/" rel="contents section">Drug Dose</a></li>
                </ul>
            </ul>
        </div>
    </nav>

    <section id="content">

        <section id="headline">
            <header>
                <h1>{{ page.title }}</h1>
            </header>
        </section>

        <section id="body">

            <div>{% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}</div>

        </section>

    </section>

    <nav id="footer">
        <div class="wrapper">
            <div id="project-links">
                <h6>Projekty:</h6>
                <ul>
                    <li><a href="/lan-management-system/" rel="contents section">Lan Management System</a></li>
                </ul>
                <ul>
                    <li><a href="/drug-dose/" rel="contents section">Drug Dose</a></li>
                </ul>
            </div>
            <div id="site-links">
                <h6>Zobacz także:</h6>
                <ul>
                    <li><a href="/umiejetnosci/" rel="author">O LionNet</a></li>
                    <li><a href="/blog/" rel="contents">Blog IT</a></li>
                    <li><a href="/mapa/" rel="contents">Mapa strony</a></li>
                </ul>
            </div>
            <div id="copyrights-and-disclaimer">
                <h6>Polityka:</h6>
                <p>&copy; Copyright by LionNet 2014-2018.</p>
                <p>Strona wykorzystuje pliki cookies</p>
                <p>Korzystając ze strony wyrażasz zgodę na używanie plików cookies, zgodnie z aktualnymi ustawieniami przeglądarki.</p>
                <p>Więcej informacji znajdziesz na stronie dotyczącej <a href="/polityka-plikow-cookies/" rel="license copyrights help nofollow">polityki plików cookie</a>.</p>
            </div>
        </div>
    </nav>

    {% if page.math %}<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>{% endif %}
</body>
</html>
