@import 'utils/variables';

$navHeight: 64px;

nav#footer {

    display: block;

    background-color: $color1;
    border-bottom: 1px solid lighten($color1, 90%);

    div {
        width: $width1;
        min-width: $width1 - 100px;
        max-width: $width1;
        margin: 1rem auto;
        padding: 1rem 0;

        p {

            font-size: x-small;
            margin: 0.1rem 0;
            line-height: 1.1;

            color: #fff;

            a {
                color: #fff;
            }

            a:hover {
                color: $color2;
            }

        }

    }

}
