@import 'utils/variables';

.pagination {

  display: block;

  border: 5px solid $color1;
  margin: 1rem 0;

  ul {

    width: $width1;
    min-width: $width1 - 100px;
    max-width: $width1;
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content: space-around;

    li {
      display: block;

      a, span {

        display: block;
        padding: 1rem;

      }

      a:hover {
        color: $color2;
      }

    }

  }
}
