<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="index,follow"/> 
    <meta name="revisit-after" content="1 days"/>        
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="keywords" content="{{ page.keywords }}"/>
    <meta name="author" content="Maciej Lew"/>
    <link rel="stylesheet" href="/css/main.css" type='text/css'>
    <link href="{{ site.url }}/blog/feed.xml" type="application/atom+xml" rel="alternate" title="LionNet blog posts (atom)" />
    {% seo %}
</head>
<body>
    <header>
        <div id="name_module" class="module">
            <h1>
                <a href="/" rel="index">{{ site.name }}</a>
            </h1>
        </div>
        
        <nav id="navigation_module" class="module">
            <h2 class="hidden">Nawigacja</h2>
            <ul>
                <li>
                    <a href="/" rel="index author">O mnie</a>
                </li>
                <li>
                    <a href="/umiejetnosci" rel="author">Umiejętności</a>
                </li>
                <li>
                    <a href="/blog">Blog informatyczny</a>
                </li>
                <li>
                    <a href="/mapa">Mapa strony</a>
                </li>
            </ul>
        </nav>

        <div id="description_module" class="module">
            {{ site.description }}
        </div>
        
        
    </header>
    
    <main>
        {{ content }}
    </main>
    
    <footer>
        
        <nav id="blog_module" class="module">
            <h3>Ostatnio na blogu...</h3>
            <ul>
                {% for post in site.posts limit:3 %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        
        <div id="DSP2016" class="module">
            <a href="/blog/tags/#DSP2016">
                <img src="/img/DSP2016/DSP2016-logo-RGB-color-2.png" 
                     alt="Daj Się Poznać 2016 - posty konkursowe" 
                     title="Daj Się Poznać 2016 - posty konkursowe"/>
            </a>
        </div>
        
    </footer>
    
    <script src="/js/email_obfuscator.js"></script>
</body>
</html>
