---
layout: default
---

<article class="blog_module module">
        <h2>{{ page.title }}</h2>
        <hr>
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date| date: "%d/%m/%Y" }}</time>

        {% include post_tags.md %}
        
        {{ content }}

</article>
        
{% if site.disqus-id %}
<div class="module blog_module">
    <div id="disqus_thread">
    </div>
    <script type="text/javascript">
        var disqus_shortname = '{{ site.disqus-id }}';
        (function () {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>
        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript"> comments powered by Disqus.</a>
    </noscript>
    <a href="https://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
{% endif %}